on: push
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - run: >
          sudo apt-get install
          gcc-arm-linux-gnueabi
          u-boot-tools
          multistrap
      - run: make FETCH_KERNEL_OPTS='--depth 1'
      - if: ${{ startsWith(github.ref, 'refs/tags/') }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: gh release create ${{ github.ref_name }} boot.zip rootfs.tar.gz
